* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #b91c1c;
}

.top-nav {
    width: 60%;
    margin: 0 auto;
}

li a{
    font-size: 1.3rem;
    margin-left: 0.5rem;
    color: #b91c1c;
    font-weight: 500;
}

.content {
    width: 60%;
    margin: 0 auto;
}

.date-reader {
    color: #cbd5e1;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}

.footerr {
    width: 60%;
    margin: 0 auto !important;
}
